body {
    background: #eee;
    opacity: 0.85;
	margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    text-align: justify;
    background:url("http://data.1freewallpapers.com/detail/lines-abstract-background-point-scheme-background-free.jpg");
}

hr {
	border:0;
	background:#dedede;
	height:2px;
}		

header{
	text-align: center;
	color: #232323;
}
#header {
    background-image: url("https://www.sololearn.com/Uploads/header.jpg");
    background-size: cover;
}
.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    size: 10px;
    
}
.sec{
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    
}
.tanggal {
    font-family: 'Courier New', Courier, monospace;
    font-size: 11pt;
}

.wrap {
	width: 950px;
	margin:25px auto;
}

.blog {
	float:left;
}

.conteudo {
	width:800px;
	padding:25px;
	margin:25px auto;
	background: #fff;
	border:1px solid #dedede;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	-moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
	box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.35);
}

.center {

	min-width: 450px;
	margin:0 0 25px 190px;
	max-width: 450px;
}

.conteudo h1 {
	padding:0;
	margin:0 0 15px;
	font-weight: normal;
	color: #666;
	font-family: Georgia;
}

.conteudo p:last-child {
	margin: 0;
}

.conteudo .continue-lendo {
	color:#000;
	transition: all 0.5s ease;
	text-decoration: none;
	font-weight: 700; 
}

.conteudo .continue-lendo:hover {
	margin-left:10px;
}

ul.square {
    list-style-type: square;
 }

 #contacts {
    text-align: center;
}

.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}